{%extends 'base.html'%}
{%load static%}
{%block contents%}


    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Garbage Classification</div>
                <div class="intro-heading">Classify The garbage</div>

            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Garbage Classification</h2>
                    <h3 class="section-subheading text-muted">
                        Garbage collection is an automatic memory management process that reclaims memory occupied by objects no longer in use by the program, preventing memory leaks. It identifies and frees up memory by removing objects that are no longer referenced, allowing efficient use of system resources.
                    </h3>
                </div>
            </div>

        </div>
    </section>

{%endblock%}